<!DOCTYPE html>
<html>
<head>
    <title>PharmaGuard - Patient Mode</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>PharmaGuard</h1>
    <p class="subtitle">Patient Mode – Genetic Drug Safety Check</p>

    <form action="/analyze" method="post" enctype="multipart/form-data">
        
        <label>Upload VCF File:</label>
        <input type="file" name="file" required>

        <label>Select Drug:</label>
        <select name="drug" required>
            <option value="Clopidogrel">Clopidogrel</option>
            <option value="Codeine">Codeine</option>
        </select>

        <button type="submit">Analyze</button>
    </form>

    <br>
    <a href="/doctor">Switch to Doctor Mode</a>
</div>

</body>
</html>